/* Reset */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --background-primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* orokles */
  /* font-size: 20px; */
}

body {
  background-color: var(--background-primary);
}

/*****************/
/* Header stilus */
/*****************/

.header-nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1.5rem 25rem 1.5rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
}

header img {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(211, 211, 211, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(211, 211, 211, 0.5);
}

header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

header a:hover {
  /* font-weight: bold; */
  text-decoration: white;
  background-color: rgba(100, 100, 100, 0.3);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(137, 137, 137, 0.5);
  box-shadow: 0px 0px 15px 10px rgba(137, 137, 137, 0.5);
  font-size: inherit;
}

.header-menu__li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1.5rem;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

header {
  background-image: url(../images/pexels-negative-space-34088.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fejléc_név {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.fejléc_front_end {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

header .logo_kép {
  width: 50px;
  color: rgba(255, 255, 255, 0);
}

.logo > h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
}

/***************/
/* Main stilus */
/***************/

/* Main stilus - Rólam */

.rólam_article > section div {
  padding: 10px;
}

.rólam_elem__kép img {
  width: 50px;
  color: rgba(255, 255, 255, 0.8);
}

/* Main stilus - Ismeretek */

.ismeretek_tároló {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.ismeretek_tároló > div {
  width: 350px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Main stilus - Portfólió */

.portfólió_tároló {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.portfólió_tároló > div {
  width: 400px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.portfólió_projekt_kép {
  width: 350px;
}

/****************/
/* Aside stilus */
/****************/

form div {
  padding: 7px;
}

.kapcsolat_fieldset {
  background-color: rgba(100, 100, 100, 0.1);
}

.form_button {
  padding: 3px;
  margin: 5px;
  font-weight: bolder;
}

.form_button:hover {
  background-color: whitesmoke;
}

/*****************/
/* Footer stilus */
/*****************/

.footer_nav_tároló {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1.5rem 0rem 1.5rem;
}

.footer_nav_menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: stretch;
  list-style-type: none;
  text-decoration: none;
}

.footer_nav_menu__li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1.5rem;
}

.footer_tároló img {
  width: 50px;
}

.footer_nav_tel_mail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none;
}

.footer_nav_tel_mail__li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
  font-size: 20px;
}

.footer_nav_tel__kép {
  width: 50px;
  letter-spacing: 6px;
  word-spacing: 6px;
}

.footer_nav_tel_mail__li > span {
  width: 50px;
  justify-content: space-between;
}

.footer_copyright {
  align-items: center;
  text-align: center;
}

.footer_button {
  text-decoration: none;
}
