/* Reset */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --background-primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* orokles */
  /* font-size: 20px; */
}

body {
  background-color: var(--background-primary);
}

/* Header stilus */

.header-nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1.5rem 25rem 1.5rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
}

.header-menu__li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1.5rem;
  font-size: 20px;
  /* color: rgba(255, 255, 255, 0.8); */
  /* text-decoration: none; */
  text-transform: uppercase;
  text-decoration: rgb(255, 255, 255);
}

header {
  background-image: url(../images/pexels-negative-space-34088.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fejléc_név {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.fejléc_front_end {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.logo > {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.logo_kép {
  width: 50px;
  color: rgba(255, 255, 255, 0.8);
}

/* Main stilus */

/* Main stilus - Rólam */

.rólam_elem__div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.rólam_elem__kép {
  width: 50px;
  color: rgba(255, 255, 255, 0.8);
}

/* Main stilus - Ismeretek */

.ismeretek_tároló {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.ismeretek_tároló > div {
  width: 350px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Main stilus - Portfólió */

/* Aside stilus */

/* Footer stilus */
