/* Reset */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --color-primary: #b48ac7;
  --background-primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* orokles */
  font-size: 20px;
}

body {
  background-color: var(--background-primary);
}

/* Header stilus */

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1.5rem;
}

.header-menu {
  display: flex;
  list-style-type: none;
}

.header-menu__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1.5rem;
}
