/* Reset */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --color-primary: #9c7ba8;
  --background-primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* orokles */
  font-size: 15px;
}

body {
  background-color: var(--background-primary);
}
